body{
  background-color: black !important;
}

.jumbotron {
  background-color: black !important;
  text-align: center;
}

h1, h2, h3, a, p, ul, li {
  color: rgb(204, 204, 204) !important;
}

.nav-link, .navbar-dark {
  color: rgb(204, 204, 204) !important;
}

#contact-form {
  color: rgb(204, 204, 204) !important;
}