body{
  background-color: black !important;
}

.jumbotron {
  background-color: black !important;
  text-align: center;
}

.img-fluid {
  margin: auto;
  height: 200;
  width: 200;
}

h1 {
  color: gray;
}

a {
  color: gray;
}

p {
  color: gray;
}