body{
  background-color: black !important;
}

.jumbotron {
  background-color: black !important;
  text-align: center;
}

h1, a, p {
  color: rgb(204, 204, 204) !important;
}

.nav-link, .navbar-dark {
  color: rgb(204, 204, 204) !important;
}